@import url(./global.css);

body{
    font-family: var(--font-primary);
}

header{
    background-color: var(--color-cyan);
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    padding: 14px;
    color: var(--color-black);
    align-items: center;
}